doctype html
html
    head
        title= title
        link(rel='stylesheet' href='/css/style.css')
        script(data-main='./js/pages/cart.js' src='./js/libs/require.js')
    body

        if !products.length
            = 'Your cart is empty'
        else
            table.cart
                tr
                    th Name
                    th Price
                    th Quantity
                    th Cost
                each product in products
                    tr.product(data-id= product.id)
                        td= product.name
                        td.price= product.price + ' UAH'
                        td
                            input(value= product.quantity)
                        td.cost= product.cost + ' UAH'
                tr.actions
                    td(colspan=4)
                        .buttons
                            button(data-action='recalculate') Recalculate
                            button(data-action='order') Make Order
                tr.total
                    td(colspan=3) Total Cost:
                    td= total + ' UAH'
