doctype html
html
    head
        title= title
        link(rel='stylesheet' href='/css/style.css')
        script(data-main='./js/pages/products.js' src='./js/libs/require.js')
    body
        include cart-strip
        table.products
            tr
                th Name
                th Price
                th.action
            each product in products
                tr.product(data-id= product.id)
                    td.name= product.name
                    td.price= product.price + ' UAH'
                    td
                        button(data-available= (!!product.available).toString()).action Add to Cart