body {
    padding: 10px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.products {
    th {
        text-align: left;
    }
    
    td, th {
        padding: 10px;
    }
    
    .price {
        text-align: right;
    }

    button.action {
        width: 120px;

        &.add {
            background: green;
            color: white;
        }

        &.remove {
            background: #fff3b5;
        }

        &.unavailable {
            background: lightgrey;
        }
    }
}

.cart-strip {
    line-height: 20px;
}

.cart {
    th {
        text-align: left;
        border-bottom: 1px solid black;
    }

    td, th {
        padding: 10px;
    }

    tr {
        &.actions {
            .buttons {
                float: right;
                button {
                    width: 100px;
                    margin-left: 20px;
                }
            }
        }

        &.total {
            font-weight: bold;
            font-size: larger;
        }
    }

    td.price, td.cost {
        text-align: right;
    }
}